# Ignore node_modules directory
node_modules/

# Ignore compiled output
dist/
build/
out/

# Ignore logs and debugging files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

# Ignore IDE and editor files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore Mac files
.DS_Store
.AppleDouble
.LSOverride

# Ignore Windows files
Thumbs.db
Desktop.ini
$RECYCLE.BIN/