.member-card {
  width: 40rem;
  gap: 2rem;
  color: var(--color-gray-500);
  &.card-style {
    align-self: start;
    padding: 2.25rem;
    padding-bottom: 2rem;
  }

  & header {
    gap: 3rem;
  }
}

.stamps {
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  justify-content: space-around;
  & .pin {
    display: inline-block;
    width: 5.5rem;
    height: 5.5rem;
    background-color: var(--color-gray-100);
    border-radius: 1.25rem;
    padding: 0.59rem;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

.stamps .pin[disabled] {
  & img {
    display: none;
  }
}

.badge {
  position: relative;
  padding: 0;
  background-color: var(--color-gray-100);
  border-radius: 50%;
  height: 72px;
  
  & img {
    width: 72px;
    height: auto;
  }

}
