.progress {
  &.card-style {
    align-self: start;
    padding: 2.25rem;
  }
  & .progress-container{
    gap: 1rem;
  }
  & .progress-background {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #e9e7e9; /* Light gray background */
    border-radius: 5px;
    overflow: hidden;
  }

  & .progress-bar {
    width: 70%; /* Adjust this to reflect the progress (70% in this case) */
    height: 100%;
    background: linear-gradient(to right, #2daa6e, #2daaaa, #856ccf, #d658b3);
    border-radius: 5px; /* Match the container's border-radius for a smooth appearance */
  }

  & .progress-text {
    text-wrap: nowrap;
    font-size: 14px;
    color: #6a6a6a;
  }
}
