main > header {
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  padding-top: var(--size-4xlarge);

  & .brand img {
    width: 7.25rem;
  }
}

@media screen and (max-width: 768px) {
  main > header {
    padding-top: var(--size-2xlarge);
  }
}
