input:focus,
select:focus,
textarea:focus,
input[type="text"]:focus-within {
  outline: 0.015rem solid var(--primary-color);
  border: 0.025rem solid var(--primary-color);
  outline-offset: 0.1px;
}

.input-container {
  position: relative;
  display: inline-block;
  width: 300px; /* Adjust the width as needed */
}

@media screen and (max-width: 768px) {
  .input-container {
    width: 100%;
  }
}
