.pill {
  display: inline-block;
  background-color: var(--color-gray-300);
  border-radius: 100px;
  padding: 0.37rem 0.75rem;
  align-self: flex-start;
  color: var(--color-gray-500);
  font-size: var(--font-size-subtitle-md);
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .pill {
    max-width: 10rem;
    text-wrap: nowrap;
  }
}
